/* ==========================================================================
   CSS DESIGN CODE - - - Chat System - Design by sk8walker
   ========================================================================== */

body 
{
    font-size:16px;
    font-family: arial, verdana;
    margin: 0;
    padding:0;
    width: 100%;
}
 
a 
{
    color:#000;
    text-decoration:none; 
}

a:hover 
{ 
    color:#ccc;
}

form, p, span 
{
    margin:0;
    padding:0; 
}
 
input 
{ 
    font:12px arial;
    margin: 0; 
}

#ask
{
    background: url(ask.jpg)no-repeat left 0;
    background-size: 100%;
    padding: 0; 
    width: 18%;
}

#ask, #msnzone
{
    bottom: 0;
    display: inline-block;
    margin:0;
    height: 45px;
    vertical-align: bottom;
}

#chat
{
    margin: 0;
    padding: 0;
}
 
#chatbox 
{
    background:#fff;
    border:1px solid #ACD8F0;
    border-radius: .5em; 
    color: #000;
    font-size: .8em;
    height:270px;
    margin:.5em;
    margin-bottom:.5em;
    text-align:left;
    overflow:auto; 
    padding:.2em;
    width:270px;
}


#email
{
}

#enter, #submitmsg
{
    background: url(ask.jpg)no-repeat left 0;
    background-size: 100%;
    padding: 0; 
    width: 18%;
    height: 45px;
    font-family: 'light', arial, verdana;
    font-size: .8em;
    margin: 0;
}

#exit, .welcome
{
    display: inline-block;
    vertical-align: top;
}

#exit
{
    background: #000;
    color:#fff;
    border-radius: 0 .5em 0 0;
    padding: .5em 1em;
    margin: 0;
    width: 10%;
    top: 0;
    right: 0;
    float: right;
}

#query
{
    width: 90%;
    height: auto;
}

#query, #ask
{
    bottom: 0;
    margin:0;
}

#msnzone
{
    background: #000;
    width: 80%;
    left: 0;
    margin: 0;
}

#box
{
    border: 1px solid rgba(0,0,0,.5);
    border-radius: .5em;
    margin: .5em;
    padding: 0;
    width: 95%;
    text-align: left;
}


#loginform, #wrapper 
{
    bottom: 0;
    color: #999;
    margin:0;
    padding: 0;
    position: fixed;
    right: 0;
    width:300px;
}

#loginform h2
{ 
    background: #000;
    color: #fff;
    font-size: .8em;
    padding: .2em .5em;
    width: 95%;
}

#loginform h3
{ 
    color: #222;
    font-size: 1em;
    padding: .2em .5em;
    width: 80%;
}


#menu 
{ 
    background: #ccc;
    padding:0;
    color: #000;
    width:auto;
    text-align: left;
}

#name, #email, #query 
{
    background: #000; /* Old browsers */
    border: 0;
    margin: 0;
    color: #fff;
    font-size: 1em;
    padding: .1em .5em;
}

#name, #email
{
    width: auto;
    margin: 0 0 1em 0;
    right: 0;

}

#name
{
}

#openchat
{
    background: #000;
    border: 0;
    border-radius: 20em 0 0 0;
    color:#fff;
    margin: 0;
    padding: .5em 1em;
    width: 100%;
} 
#openchat:hover
{

} 
#openchat:focus
{

} 



#sale
{
    background: #999;
    width: 100%;
    margin: 0;
    padding: .5em;
}

#submit 
{ 
    color: #ccc; 
    width: 60px;
}

#usermsg 
{
    background: #000;
    color: #ccc;
    padding: .5em 1em;
    margin: 0;
    width:90%;
}

#yellow
{
    background: #fff;
    border:2px solid #000;
    padding: 0;
}

#yellow h4
{
    font-size: 2em;
    margin: .1em .5em;   
    color: #000;

}

.logout 
{ 
    padding:0;
    right:0;

}


.msgln 
{ 
    margin:0 0 2px 0; 
}


.welcome 
{ 
    font-size: 1em;
    margin:.1em .5em;
    color: #000;
}

.welcome h2 
{
    text-shadow:0px 0px 0 rgb(231,231,231);
    font-size: .2em;
    width: 80%;
    background:#222;
}