body {
    background: rgb(255, 92, 0);
    margin: 0;
}
h1 {
    background: rgb(34, 34, 34);
    padding: 0.3em 1em;
    color: #eee;
    margin:0;
}

form input {
    padding: 0.5em;
    font-size: 1.1em;
}
form button {
    width: 99%;
}
form {
    display: inline-block;
    margin-left:2em;
}
p {
    margin-left: 2em;
    color: white;
}
a {
    margin-left: 3em;
    color: white;
    text-decoration: none;
    background: #333;
    border-radius: 0.3em;
    padding: 1em;
}
h3 {
    margin-left: 1.2em;  color: #222;  font-size: 1.6em;
}

.index > article{
display:inline-table;
}

.index article form .button{
    width:98.5%;
}